* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'); /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'); /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('./fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype'),
        url('./fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff');
}
@media screen and (max-width; 1280px ) {
    div contentblock {width: 1200px}
}
@media screen and (max-width;1140px ) {
    div contentblock {width: 1024px}
}
@media screen and (max-width;992px ) {
    div contentblock {width: 970px}
}
body {
    margin: 0 auto;
    position: relative;
}
#main .uk-navbar-container .uk-navbar-right li a{
    color: #002943;
    width: 150px;
    left: 945px;
    top: 44px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform:capitalize;
}
#main .uk-navbar-container .uk-navbar-right li button {
    padding: 6px 15px;
    border: 2px solid #89B750;
    border-radius: 8px;
    color: blue;
    font-size: 16px;
    background: none;
} 

#main .content .text h1 {
    color: #004f82;
    font-family: 'Montserrat-ExtraBold', sans-serif;
    font-size: 96px;
    margin-bottom: 40px;
    line-height: 112px;
}
#main .text p {
    margin-bottom: 30px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 28px;
    line-height: 40px;
}

#main .text button {
    margin-top: 68px;
    color: #FFFFFF;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 20px;
    line-height: 20px;
    width: 233px;
    height: 60px;
    background: #89B750;
    border: 2px solid #89B750;
    border-radius: 8px;
}
#about .text h2 {
    margin-top: 200px;
    font-weight: 100;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    text-align: right;
}
#about .text p {
   
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    text-align: right;
}
#about .text_1 h2 {
    margin-top: 200px;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}
#about .text_1 p {
   
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}
#about {
    background: #004f82;
    padding: 78px 0;
}
#testimonials {
    align-items: center;
}
#testimonials .text {
    text-align: left;

}
#testimonials .text h2 {
    margin-top: 130px;
    margin-bottom: 55px;
    width: 326px;
    top: 1789.04px;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 48px;
line-height: 48px;
color: #004F82;
}

#testimonials .text .items .item h3 {
    font-family: "Montserrat-Bold", sans-serif;
font-size: 24px;
line-height: 36px;
color: #002943;
    margin-bottom: 15px;
} 
#testimonials .text .items .item p {
    font-family: "Montserrat-Regular", sans-serif;

font-size: 20px;
line-height: 32px;
color: #002943;
    margin-top: 15px;
}


#footer .text h2 {
    font-family: "Montserrat-Bold", sans-serif;
font-style: normal;
font-size: 48px;
line-height: 60px;
color: #004F82;
}
#footer .text p{
    font-family: "Montserrat-Regular", sans-serif;
    font-style: normal;

    line-height: 32px;
    color: #000000;
}
#get {
    background: #d6e2ea;
    padding-top: 50px;
}
#get .text h2 {
    font-family: "Montserrat-Bold",sans-serif;
line-height: 60px;
color: #004F82;
    padding-top: 50px ;
}
#get .text p {
    font-family: "Montserrat-Regular", sans-serif;
line-height: 32px;
color: #000000;
}